name: API
on:
  push:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - run: npm install --global vercel@latest
      - name: Deploy via vercel
        id: vercel
        run: |
          set -e

          echo '${{ secrets.PROJECT_JSON }}' > ./.vercel/project.json

          if [ $GITHUB_REF == 'refs/heads/main' ]; then
            _url=$( vercel  --prod --token ${{ secrets.VERCEL_TOKEN }} )
          else
            _url=$( vercel --token ${{ secrets.VERCEL_TOKEN }} )
          fi

          _url="${_url//'%'/'%25'}"
          _url="${_url//$'\n'/'%0A'}"
          _url="${_url//$'\r'/'%0D'}"
          echo "::set-output name=url::${_url}"
      - name: Create commit comment
        uses: daohoangson/comment-on-github@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          body: "Deployed ${{ github.sha }} to ${{ steps.vercel.outputs.url }}.\n\nQuick links:\n- [iframe](${{ steps.vercel.outputs.url }}/iframe.ts?body=Foo)"
